
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:white;
  padding: 10px 20px;
  color:black;
}

.logo {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}
.blue{
  color: #01073b;
}
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #01073b;
}
.home{
  background-color: #e1e8f5;
  display:flex;
  align-items: center;
  justify-content: space-around;
  height: 580px;
}

.home-intro{
  margin-top: 60px;
}

.home-img{
    margin-top: 60px;
    border-radius: 10px;
}

.home h1{
  font-size: 48px;
  line-height: 3rem;
}

.home h4{
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 15px;
  margin-bottom: 15px;
}

.whatsapp-bttn{
  background-color: black;
  border-radius: 0.5rem;
  cursor: pointer;
  color:white;
  font-size: 20px;
  padding: 14px;
  border:none;
}

.Collection-bttn{
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 20px;
  padding: 13px;
  border: 1px solid black;
  margin-left: 10px;
}

.fa-brands {
  margin-right: 7px;
}

.collection-text{
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.collection-text h1{
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.collection-text p{
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: rgb(56, 51, 51);
  margin-top: 20px;
}

.collection-item{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:center ;
  width:80%;
  column-gap: 10px;
}

/* .item-div{
  width:100%;
} */

.collection-img{
  width:  304px;
  height: 304px;
  border-radius: 0.5rem;
   
}

.collection-item h1{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.collection-item{
  font-size: 1.0rem;
  line-height: 1.0rem;
  color: rgb(56, 51, 51);
  /* margin-top: 20px;  */
}

.inner-div{
  display: flex;
  width: 100%;

}

.inner-div button{
  margin-left: 180px;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 15px;
  padding: 13px;
  border: none;
  background-color: grey;
  color: white;
}

.inner-div h1{
  font-size: 1.5rem;
  line-height: 2rem;
}


